body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Patrick Hand", cursive;
}

h2 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.25rem
}


h1, h2 {
  color: #66BFBF;
}

a{
  color: #11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: coral;
  border-width: 7px;
  width: 5%;
}

.top-container {
  background-color: #FFCC99;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  line-height: 2;
  margin: 100px 0px;
}

.bottom-container {
  background: #FFCC66;
  padding: 50px 0px 20px;
}
.skills{
  margin-top: 100px;
}
.skill-row {
  width: 50%;
  margin:50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  width:15%;
  position: absolute;
  right: 200px;
  top: 25px;
}
.last-cloud {
  width:15%;
  position: absolute;
  right: 250px;
  bottom:180px;
}

.bottom-cloud {
  width:15%;
  position: absolute;
  left: 150px;
  bottom: 450px;
}

.tribute {
  font-size: 0.75rem;
}

.photo-profile{
  width:15%;
}

.code-image {
  width:30%;
  float: left;
  margin-right: 50px;
}

.parcours-image {
  width:25%;
  float: right;
  margin-left: 30px;
  border-radius: 20%
}

.BUTTON_STG {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.BUTTon_STG :hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: coral;
}
